<a href="/vessels">Click here for Vessels</a>
<a href="/companies">Click here for Companies</a>

<h1>Alaskan Glacier Tours Fleet</h1>
<% @vessels.each do |vessel| %>
    <h2><%= vessel.name %></h2>
    <p>Year Built: <%= vessel.year_built %></p>
    <p>Currently Running Tours: <%= vessel.operational %></p>
    <p><a href="/vessels/<%= vessel.id %>/edit">Edit Vessel</a></p>
    <p><%= link_to "Delete Vessel", "/vessels/#{vessel.id}", method: :delete %></p>
    </br>
<% end %>