<a href="/vessels">Click here for Vessels</a>
<a href="/companies">Click here for Companies</a>

<h1><%= @company.name %></h1>
<p>TripAdvisor Rank: <%= @company.tripadvisor_rank %></p>
<p>Currently Offering Tours: <%= @company.offering_cruises %></p>
<p>Current Amount of Vessels: <%= @vessel_count %></p>

<%= link_to "Click here for this Companies Vessels", "/companies/#{@company.id}/vessels" %>
</br>
<%= link_to "Update Company", "/companies/#{@company.id}/edit" %>
</br>
<%= link_to "DELETE", "/companies/#{@company.id}", method: :delete %>