

<h1><%= @company.name %></h1>
<p>TripAdvisor Rank: <%= @company.tripadvisor_rank %></p>
<p>Currently Offering Tours: <%= @company.offering_cruises %></p>
<p>Current Amount of Vessels: <%= @vessel_count %></p>

<%= button_to "Click Here All #{@company.name}'s Vessels", "/companies/#{@company.id}/vessels", method: :get %>
</br>
<%= button_to "Update #{@company.name}", "/companies/#{@company.id}/edit", method: :get %>
</br>
<%= button_to "Delete #{@company.name}", "/companies/#{@company.id}", method: :delete, data:
  { confirm: "Are you sure?" } %>