<a href="/vessels">Click here for Vessels</a>
<a href="/companies">Click here for Companies</a>

<% @vessels.each do |vessel| %>
  <h1> <%= vessel.name %> </h1> 
  <p>Year Built: <%= vessel.year_built %> </p> 
  <p>Currently Running Tours: <%= vessel.operational %> </p> 
  <p><%= link_to "Edit Vessel", "/vessels/#{vessel.id}/edit" %></p> 
  <p><%= link_to "Delete Vessel", "/vessels/#{vessel.id}", method: :delete %></p>
  </br>
<% end %>

<%= link_to "Create Vessel", "/companies/#{@company.id}/vessels/new" %>
<%= link_to "List Vessels Alphabetically", sort_by: "name" %>
<%= form_with url: "/companies/#{@company.id}/vessels", method: :get, local: true do |form| %>
  <%= form.label :year_built, "Year Built:" %>
  <%= form.number_field :year_built %>
  <%= form.submit 'Only return records younger than this built year for vessels' %>
<% end %>