
<% @vessels.each do |vessel| %>
  <h1> <%= vessel.name %> </h1>
  <p>Length (feet): <%= vessel.length %> </p> 
  <p>Year Built: <%= vessel.year_built %> </p> 
  <p>Currently Running Tours: <%= vessel.operational %> </p> 
  <p><%= button_to "Edit #{vessel.name}", "/vessels/#{vessel.id}/edit", method: :get %></p> 
  <p><%= button_to "Delete #{vessel.name}", "/vessels/#{vessel.id}", method: :delete, data:
        { confirm: "Are you sure?" } %></p>
  </br>
<% end %>
</br>
<%= button_to "Create Vessel", "/companies/#{@company.id}/vessels/new", method: :get %>
</br>
<%= link_to "List Vessels Alphabetically", sort_by: "name" %>
</br>
</br>
<%= form_with url: "/companies/#{@company.id}/vessels", method: :get, local: true do |form| %>
  <%= form.label :length, "Length (feet):" %>
  <%= form.number_field :length %>
  <%= form.submit "Only Return Vessels More than this Length" %>
<% end %>