<h1>New Vessel</h1>

<%= form_with url: "/companies/#{@company.id}/vessels", method: :post, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :year_built %>
  <%= form.text_field :year_built %>
  <%= form.label :operational %>
  <%= form.select :operational, ['true', 'false']%>
  <%= form.submit 'Create' %>
<% end %>